@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black text-white;
  }
}

.text-gold {
  color: #D4AF37;
}

.bg-gold {
  background-color: #D4AF37;
}

.border-gold {
  border-color: #D4AF37;
}